/* CSS files add styling rules to your content */
*{
  font-family: 'Zen Antique', serif;
}
h1 {

  color: green;
}
.navbar {
  display: flex;

  justify-content: space-around;
  
  background: black;
  
}

.navbar>a{
  color:white;
  font-family: 'Fruktur', cursive;
}